<body style="background-color: lightpink">
<nz-divider nzText="欢迎来到春天花花幼稚园" style="color: black"></nz-divider>
<h3 style="text-align: center">选择你要查看的班级</h3>
<div style="text-align: center">
  <button nz-button nzType="primary" style="background-color: yellow">
    <a routerLink="/star" style="color: black">星星班</a>
  </button>
  <button nz-button nzType="primary" style="background-color: wheat">
    <a routerLink="/moon" style="color: black">月亮班</a>
  </button>
  <button nz-button nzType="primary" style="background-color: orangered">
    <a routerLink="/sun" style="color: black">太阳班</a>
  </button>
</div>
</body>
